# Books(core assignment)

- Kevin Ridge

## Part 1

<img src = 'bookspng.png'>

In [17]:
# imports
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

In [18]:
username = 'root'
password = 'root' 
connection = f'mysql+pymysql://{username}:{password}@localhost/books'
engine = create_engine(connection)

In [19]:
## Check if database exists, if not, create it
if database_exists(connection):
    print('It exists!')
else:
    create_database(connection)
    print('Database created')

Database created

In [20]:
# Create files to convert
users = 'https://docs.google.com/spreadsheets/d/1_c2WTx_eiH8pUM-PTgyt7T4aIl1A3Cp1ukPVPEijoYc/gviz/tq?tqx=out:csv&sheet=users'
books = 'https://docs.google.com/spreadsheets/d/1_D-vW7GXiQfG6D9nzjscgVctKLb6TZl_o8ERNH_tet8/gviz/tq?tqx=out:csv&sheet=books'
authors = 'https://docs.google.com/spreadsheets/d/17rABPt5eaIxfhGO75dYCbH-5IloKsAR0HH9V6VC43ZI/gviz/tq?tqx=out:csv&sheet=authors'
favorites = 'https://docs.google.com/spreadsheets/d/1SLb3RAhcrZsPWRwR0_njWX7KssUYZ16JFsVqBkSU2GI/gviz/tq?tqx=out:csv&sheet=favorite'

In [21]:
# Convert files to read as dataframes
udf = pd.read_csv(users)
bdf = pd.read_csv(books)
adf = pd.read_csv(authors)
fdf = pd.read_csv(favorites)

In [23]:
udf.to_sql('users', engine, if_exists = 'replace')
bdf.to_sql('books', engine, if_exists = 'replace')
adf.to_sql('authors', engine, if_exists = 'replace')
fdf.to_sql('favorites', engine, if_exists = 'replace')

7

In [24]:
q = '''SELECT books.title, favorites.user_id
FROM books
JOIN favorites ON books.id = favorites.book_id
WHERE favorites.user_id = 
    (SELECT users.id FROM users WHERE (users.last_name = "Doe" AND users.first_name = "John"));'''
pd.read_sql(q,engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1

In [25]:
# Display database tables
q = '''SHOW TABLES'''
pd.read_sql(q,engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users